header {
    text-align: center;
}

body {
    margin-top: 100px;
    color: white;
    background-color: #163846;
    font-family: "Roboto Light", sans-serif;
    justify-content: center;
}

ul {
    list-style: none;
}

.mainContainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#btnSeatAvailable {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 1px;
    color: black;
    font-size: 10px;
    background-color: yellowgreen;
}

#btnSeatTaken {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 10px;
    background-color: #7e2424;
}

.seatButton {}

.roomLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px;
}

.seatsLayout {
    margin-top: 40px;
}

.posterImg {
    height: 200px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
}