header {
    text-align: center;
}

body {
    text-align: center;
    color: white;
    background-color: #163846;
    font-family: "Roboto Light", sans-serif;
}

ul {
    list-style: none;
}

.mainContainer {
    margin-left: 20%;
    margin-right: 20%;
}

.dateButtons {
    margin: 30px;
    justify-content: center;
    display: flex;
}

.day-abbreviation {
    font-weight: bold;
}

.day-number {
    margin-top: 2px;
}

.btnDate {
    margin-right: 20px;
    border: none;
    padding: 8px;
    font-size: 16px;
    background-color: #2a6277;
    color: white;
    border-radius: 8px;
    transition: background-color 150ms;
}

.btnPlaytime {
    margin-left: 20px;
    margin-outside: 10px;
    background-color: #2a6277;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background-color 150ms;
}

.btnDate:hover, .btnPlaytime:hover {
    background-color: #38869f;
}

.imgPoster {
    height: 200px;
    width: auto;
    padding: 10px;
    margin-top: 30px;
}

.movieListEntry {
    border-top: 1px white;
    display: flex;
    text-align: center;
}

.movieDetails {
    padding: 20px;
    text-align: left;
}

.movieDescription {
    text-align: justify;
}

.btnSeat {
    margin-bottom: 2px;
    margin-right: 2px;
    border: none;
    border-radius: 1px;
    color: white;
    font-size: 8px;
    background-color: yellowgreen;
}

#playtimeButtons {
    display: flex;
}