<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kino XYZ - Rezerwacja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/booking_styles.css}" />
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="movieDetailsDiv" id="movieDetailsDiv">
            <img class="posterImg" th:src="${movie.poster}" th:alt="${movie.title} + ' poster'">
            <h3 th:text="${movie.title}">Movie Title</h3>
            <p th:text="'Sala: ' + ${roomNumber}">Room number</p>
            <p th:text="'Data: ' + ${eventDate}">Event date</p>
            <p th:text="'Godzina: ' + ${eventTime}">Event time</p>
        </div>
        <div class="seatsLayout" id="seatsLayout">
            <table class="seatsTable" id="seatsTable">
                <tr th:each="row : ${seats}">
                    <td th:each="seat : ${row}">
                        <button th:fragment="seatButtonAvailable"
                                class="seatButton"
                                th:id="${seat.isAvailable() ? 'btnSeatAvailable' : 'btnSeatTaken'}"
                                th:text="${seat.getRowInRomanNumerals()} + ' ' + ${seat.getColumn()}"
                                th:if="${seat.isAvailable()}"
                                th:attr="hx-post=@{/booking(row=${seat.row},column=${seat.column},isSeatAvailable=false)}"
                                hx-swap="outerHTML" hx-boost="true">Seat Number
                        </button>
                        <button th:fragment="seatButtonTaken"
                                class="seatButton"
                                th:id="${seat.isAvailable() ? 'btnSeatAvailable' : 'btnSeatTaken'}"
                                th:text="${seat.getRowInRomanNumerals()} + ' ' + ${seat.getColumn()}"
                                th:unless="${seat.isAvailable()}"
                                th:attr="hx-post=@{/booking(row=${seat.row},column=${seat.column},isSeatAvailable=true)}"
                                hx-swap="outerHTML" hx-boost="true">Seat Number
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <p th:fragment="priceLabel" class="priceLabel"
           th:text="'Suma: ' + ${totalPrice}" th:hx-get="@{/booking/updatePrice}"
           hx-trigger="click delay:0.1s from:.seatButton" hx-swap="outerHTML">Price label
        </p>
    </div>
</body>
</html>