<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino XYZ - Rezerwacja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/navbar_styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/booking_styles.css}"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div th:insert="fragments/navbar" id="navbar"></div>
    </header>
    <div class="mainContainer">
        <div class="movieDetailsDiv" id="movieDetailsDiv">
            <img class="posterImg" th:src="${movie.poster}" th:alt="${movie.title} + ' poster'">
            <h3 th:text="${movie.title}">Movie Title</h3>
            <p th:text="'Sala ' + ${roomNumber}">Room number</p>
            <p th:text="${eventDate} + ', ' + ${eventTime}">Event date</p>
        </div>
        <div class="roomLayout" id="roomLayout">
            <iframe width="415" height="250" th:src="${movie.trailer} + '?controls=0&autoplay=1&mute=1'" title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="seatsLayout" id="seatsLayout">
                <table class="seatsTable" id="seatsTable">
                    <tr th:each="row : ${seats}">
                        <td th:each="seat : ${row}">
                            <button th:fragment="seatButtonAvailable"
                                    th:if="${seat.getStatus() == T(dw.cinema_ticket_manager.model.SeatStatus).AVAILABLE}"
                                    class="seatButton" id="btnSeatAvailable"
                                    th:text="${seat.getRowInRomanNumerals()} + ' ' + ${seat.getColumn()}"
                                    th:attr="hx-post=@{/booking(row=${seat.row},column=${seat.column},chosen='true')}"
                                    hx-swap="outerHTML" hx-boost="true">Seat Number
                            </button>
                            <button th:fragment="seatButtonChosen"
                                    th:if="${seat.getStatus() == T(dw.cinema_ticket_manager.model.SeatStatus).RESERVED}"
                                    class="seatButton" id="btnSeatChosen"
                                    th:text="${seat.getRowInRomanNumerals()} + ' ' + ${seat.getColumn()}"
                                    th:attr="hx-post=@{/booking(row=${seat.row},column=${seat.column},chosen='false')}"
                                    hx-swap="outerHTML" hx-boost="true">Seat Number
                            </button>
                            <button th:if="${seat.getStatus() == T(dw.cinema_ticket_manager.model.SeatStatus).OCCUPIED}"
                                    class="seatButton" id="btnSeatOccupied"
                                    th:text="${seat.getRowInRomanNumerals()} + ' ' + ${seat.getColumn()}">Seat Number
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bookingDetailsDiv" id="bookingDetailsDiv">
            <p th:fragment="initialPriceLabel" class="priceLabel"
               th:if="${totalPrice} == null" th:text="'Do zapłaty: 0 zł'"
               th:hx-get="@{/booking/updatePrice}" hx-trigger="click delay:0.1s from:.seatButton"
               hx-swap="outerHTML" hx-boost="true">Price label
            </p>
            <p th:fragment="updatedPriceLabel" class="priceLabel"
               th:unless="${totalPrice} == null" th:text="'Do zapłaty: ' + ${totalPrice} + ' zł'"
               th:hx-get="@{/booking/updatePrice}" hx-trigger="click delay:0.1s from:.seatButton"
               hx-swap="outerHTML" hx-boost="true">Price label
            </p>
            <div th:fragment="chosenSeatsDetails" class="chosenSeatsDetailsDiv" id="chosenSeatsDetailsDiv"
                 th:hx-get="@{/booking/updateSeatsList}" hx-trigger="click delay:0.1s from:.seatButton"
                 hx-swap="outerHTML" hx-boost="true">
                <table class="chosenSeatsTable" id="chosenSeatsTable">
                    <tr class="chosenSeatsRow" th:each="chosenSeat : ${chosenSeats}">
                        <td class="chosenSeatDetails"
                            th:text="'Rząd: ' + ${chosenSeat.getRow()} + ', kolumna: ' + ${chosenSeat.getColumn()}">Chosen seat details</td>
                        <td class="chosenSeatPrice" th:text="${seatPrice} + ' zł'">Seat price</td>
                    </tr>
                </table>
            </div>
            <button class="purchaseButton" id="purchaseButton"
                    th:attr="purchase_url=@{/booking/purchase}"
                    onclick="window.location.href=this.getAttribute('purchase_url')">
                <p class="purchaseBtnLabel">Kup teraz</p>
            </button>
        </div>
    </div>
</body>
</html>