<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino XYZ - Twój bilet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/checkout_styles.css}" />
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="bookingDetailsDiv" id="bookingDetailsDiv">

        <img th:src="${'data:image/png;base64,' + base64QRCode}" alt="QR Code">
        <p class="bookingId" id="bookingId" th:text="${booking.id}">Booking ID</p>
    </div>
    <button class="homeButton" id="homeButton"
            th:attr="home_url=@{/showtimes}"
            onclick="window.location.href=this.getAttribute('home_url')">
        <p class="homeBtnLabel">Powrót do strony głównej</p>
    </button>
</body>
</html>