<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino XYZ - Twój bilet</title>
    <link rel="stylesheet" type="text/css" th:href="@{/navbar_styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/checkout_styles.css}"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div th:insert="fragments/navbar" id="navbar"></div>
    </header>
    <div class="mainContainer" id="mainContainer">
        <h2>Dziękujemy, transakcja przebiegła pomyślnie</h2>
        <h3>Oto Twój bilet</h3>
        <div class="bookingDetailsDiv" id="bookingDetailsDiv">
            <p class="eventDate" id="eventDate" th:text="'Data: ' + ${booking.showtime.getPlFormattedDate()}">Event date</p>
            <p class="eventTime" id="eventTime" th:text="'Godzina: ' + ${booking.showtime.getEventTime().toString()}">Event time</p>
            <p class="roomNumber" id="roomNumber" th:text="'Sala: ' + ${booking.showtime.roomNumber}">Room number</p>
            <p>Miejsca:</p>
            <div th:each="seat : ${booking.getBookedSeats()}" class="chosenSeatDetails">
               <p th:text="'Rząd: ' + ${seat.getRow()} + ', kolumna: ' + ${seat.getColumn()}">Booked seat details</p>
            </div>
            <img th:src="${'data:image/png;base64,' + base64QRCode}" class="ticketQrCode" alt="QR Code">
        </div>
        <div class="refundDetailsDiv" id="refundDetailsDiv">
            <p class="bookingId" id="bookingId" th:text="'Kod zwrotu biletu: ' + ${booking.id}">Booking ID</p>
            <p class="refundKeyDescription" id="refundKeyDescription">Zapisz powyższy kod w razie potrzeby zwrotu biletu.</p>
        </div>
    </div>
    <button class="homeButton" id="homeButton"
            th:attr="home_url=@{/}"
            onclick="window.location.href=this.getAttribute('home_url')">
        <p class="homeBtnLabel">Powrót do strony głównej</p>
    </button>
</body>
</html>